.landing-grid {
  height: calc(100% - 41px);
  width: 100vw;
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 44px auto;
  grid-template-areas:
    "grid-nav-top grid-nav-top"
    "grid-sidebar grid-main-view";
}

.grid-nav-top {
  grid-area: "grid-nav-top";
  background-color: #350d36;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  display: flex;
  align-items: center;
}

.grid-sidebar {
  grid-area: "grid-sidebar";
  background-color: #4a154b;
}

.grid-main-view {
  grid-area: "grid-main-view";
  background-color: white;
  display: flex;
  flex-direction: column;
}
