.landing-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 44px auto;
    grid-template-areas:
        "grid-nav-top grid-nav-top"
        "grid-sidebar grid-main-view"
}

.grid-nav-top {
    grid-area: 'grid-nav-top';
    background-color: #350d36;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    display: flex;
    align-items: center;
}

.grid-sidebar {
    grid-area: 'grid-sidebar';
}

.grid-main-view {
    grid-area: 'grid-main-view';
    background-color: white;
}