.logged-in-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon-span {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.profile-icon-span > img {
  width: 26px;
  background-size: 100%;
}
