.channel_msg_container{
    display:flex;

}

.user-icon {
    margin-left: 0px;

}

img.user-icon {

    border: 1px solid #c4c0c0;
    border-radius: 5px;
    margin:6px;
    margin-top:23px;

}

.channel_msg_container {
    border:1px solid rgb(233, 223, 223);
    border-radius:10px;
    width:93%;
    font-size: 13px;
    margin:10px;
    background-color: rgb(251, 251, 251);
}

.channel_name_ls {
    font-size: 11px;
    text-align: left;

}
#channel_name {
    font-weight: bold;
    color: rgb(38, 38, 185)
}

#user_name {
    margin-top:4px;
    font-weight: bolder;
    font-size: 14px;
}

#search_content {
    margin-top: 3px;
}

.result_channel {
    font-size:15px;
    margin: 10px;
}

.view_link {
    margin-left: 150px;
    text-decoration: none;
    color: rgb(42, 40, 40);
}
