.cm-input-container {
  width: 95%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  border: 1px solid rgba(221, 221, 221, 1);
  display: flex;
  border-radius: 0.5rem;
  background-color: white;
}

.cm-input-block {
  width: 100%;
}

.cm-input-box {
  width: 100%;
  display: flex;
  justify-content: end;
}

.cm-input-top {
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.cm-input-top-box {
  padding-right: 1rem;
  color: rgba(221, 221, 221, 1);
}

.cm-input-box {
  padding: 1rem 1rem;
}

.cm-input {
  width: 100%;
  border: none;
  outline: none;

  resize: none;
  font-family: "Noto Sans";
  font-size: 1rem;
  line-height: 1.5rem;
}

.cm-input-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cm-submit-box {
  width: fit-content;
  padding: 0.5rem 0.5rem;
}

.cm-submit-button,
.cm-cancel-button {
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

.cm-cancel-button {
  border: 1px solid rgba(221, 221, 221, 1);
  background-color: white;
  margin-right: 0.5rem;
}

.cm-submit-button-highlight-false {
  color: rgb(221, 221, 221);
  background-color: white;
}
.cm-submit-button-highlight-true {
  color: #ffffff;
  background-color: #2bac76;
}
